[ ca ]
default_ca      = TAXII_CA

[ TAXII_CA ]
serial = ca-serial
crl = ca-crl.pem
database = ca-database.txt
name_opt = TAXII_CA
cert_opt = TAXII_CA
default_crl_days = 9999
default_md = md5

[ req ]
default_bits           = 4096
days                   = 9999
distinguished_name     = req_distinguished_name
attributes             = req_attributes
prompt                 = no
output_password        = password

[ req_distinguished_name ]
C                      = US
ST                     = PA
L                      = Philadelphia
O                      = TAXII Example
OU                     = TAXII Server
CN                     = ca
emailAddress           = certs@example.com

[ req_attributes ]
challengePassword      = test