<h1>{{title}}</h1>
<div id="raw_json" style="display: none;">{{json data}}</div>
<div id="json-tree"></div>

<link rel="stylesheet" href="/css/style.css">
<script src="/js/process-json.js" type="module"></script>
<script src="/js/renderjson.js"></script>

